<div id="idea-show">
  <div class="container business-canvas-wrapper">
    <p id="notice">
      <%= render partial: 'notice' %>
    </p>

    <div class="col-md-12 idea-heading-row">
      <%= @idea.name %>
    </div>
    
    <div class="col-md-2 col-sm-2 col-xs-12 key-partners-wrapper">
      <h5>Key Partners</h5>
      <%= @idea.key_partners %>
    </div>
    
    <div class="col-md-3 col-sm-3 col-xs-12 key-activities-resources-wrapper">
      <div class="key-activities">
        <h5>Key Activities</h5>
        <%= @idea.key_activities %>
      </div>
      <div class="key-resources">
        <h5>Key Resources</h5>
        <%= @idea.key_resources %>
      </div>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-12 value-propositions-wrapper">
      <h5>Value Propositions</h5>
      <%= @idea.value_propositions %>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 customer-relationships-channels-wrapper">
      <div class="customer-relationships">
        <h5>Customer Relationships</h5>
        <%= @idea.customer_relationships %>
      </div>
      <div class="customer-channels">
        <h5>Idea Channels</h5>
        <%= @idea.channels %>
      </div>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-12 customer-segments-wrapper">
      <h5>Customer Segments</h5>
      <%= @idea.customer_segments %>
    </div>

    <div class="col-md-12 cost-structure-revenue-streams-wrapper">
      <div class="col-md-6 cost-structure">
        <h5>Cost Structure</h5>
        <%= @idea.cost_structure %><br>
      </div>
      <div class="col-md-6 revenue-streams">
        <h5>Revenue Streams</h5>
        <%= @idea.revenue_streams %><br>
      </div>
    </div>

    <div class="col-md-12 navigation-buttons">
      <%= render partial: 'ideas/navigation_links', locals: {action_name: action_name, idea: @idea} %>
    </div>

  </div><!-- /container -->
</div>