<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Key Partners</strong>
  <%= @idea.key_partners %>
</p>

<p>
  <strong>Key activities</strong>
  <%= @idea.key_activities %>
</p>

<p>
  <strong>Key Resources</strong>
  <%= @idea.key_resources %>
</p>
<p>
  <strong>Value propositions</strong>
  <%= @idea.value_propositions %>
</p>
<p>
  <strong>Customer relationships</strong>
  <%= @idea.customer_relationships %>
</p>
<p>
  <strong>Channels</strong>
  <%= @idea.channels %>
</p>
<p>
  <strong>Customer segments</strong>
  <%= @idea.customer_segments %>
</p>
<p>
  <strong>Cost structure</strong>
  <%= @idea.cost_structure %>
</p>
<p>
  <strong>Revenue streams</strong>
  <%= @idea.revenue_streams %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
